*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
}

#form{
    width: 350px;
    max-height: 100%;
    height: auto;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 20px;
    margin: 20vh auto 0 auto;
}

#form h1{
    text-align: center;
    margin-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBar{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.inputBar input{
    outline: 0;
    padding: 0.5em;
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    width: 100%;
}

.inputBar label{margin-bottom: 2px;}

.inputBar button{
    max-width: 100%;
    margin: 20px 3px 15px 3px;
    padding: 10px;
    border: none;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2.5pt;
    background-color: rgb(41, 57, 194);
    color: whitesmoke;
}

.inputBar input:focus{
    border: 1px solid rgb(41, 57, 194);
}

.inputBar.error input{border: 1px solid #ff3860;}
.inputBar.error input:focus{border: 2px solid #ff3860;}

.inputBar.success input{border-color: #09c372;}

.inputBar .error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}